.accordion-block{
    text-align: left;
    margin-top: 0px;
    border-right: solid gray;
    padding-top: 0px;
    padding-bottom: 20px;
    display: inline-block;
    float: left;
}

.results-image{
    width:80%;
    position: relative;
    text-align: left;
    display: inherit;
    margin-left: 17%;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: grey;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    color:  #EB3F43 !important;
}