.accordion-block{
width:15%;
    text-align: left;
    margin-top: 0px;
    border-right: solid gray;
    padding-top: 0px;
    padding-bottom: 20px;
    display: inherit;
}

.results-image{
    width:80%;
    position: relative;
    text-align: left;
    display: inherit;
    margin-left: 17%;
}

.accordion{
    display: block;
}
