/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: grey;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    color:  #EB3F43 !important;
}


.results-header{
    color: gray;
}

.story-results{
    background: none;
    border: none;
    display: inherit;
    margin-bottom: 20px;
}

.story-results.active{
    background: none;
    border: none;
    display: inherit;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#panel1{
    display: block;
}

.accordion-block{
    text-align: left;
    width:100%;
    padding-right: 20px;
    margin-top: -100px;
    text-align: right;
    display: inline-block;
    float: left;
    
}


.results-image{
    margin-left: 15%;
    width: 90%;
    
}

#results2018, #results2017, #results2016, #results2015{
    width: 100%;
}

#results2017, #results2016, #results2015{
    display: none;
}

.sidebar{
    border-right: solid gray;
    width:10%;
    padding-bottom:20px;
    float: left;
    
}

.thead{
    background-color: #ffbdc1;
}

.table{
    margin-bottom: 100px;
}


.modal-sm{
    max-width: 100%;
}

.modal-content{
    width: 80%;
    margin:auto;
    margin-top: 150px;
}

.shield{
    cursor: pointer;
}

.modal-body{
    text-align: left;
}

.modal-head{
    padding: 20px;
    border-bottom: solid #B1030E;
}

.scores{
    color: #B1030E;
}

.modal-header .close{
    margin: 0px;
}

.modal-header{
    display: initial !important;
}

.shield{
    width:220px;
    border: solid gray 2px;
    margin:15px;
}

#upenn, #stanford, #uchicago, #brown{
    height: 150px;
}


.shieldstuff{
    margin-left: 60px;
    width: 100%;
    margin-bottom: 100px;
}

.results-stuff{
    margin-top: 100px;
}
